@import '../../../src/styles/tokens/all';

.lp-radio__wrapper {
	display: flex;
	align-items: center;
	width: max-content;
	padding: $space--2xs $space--xs;
	border-radius: $space--xs;
	&:hover {
		background:#f2f7ff;
	}
	&:focus {
		background:#f2f7ff;
		outline: none;
	}
	.lp__radio {
		margin-top: 0;
		margin-right: $space--xs;
	}
}
