@import "../../styles/tokens/all";
@import "../../styles/icon";

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 75px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);
  font-size: $space--sm;
  line-height: 1.2 !important;
  background-color: $color--white;
  @media (max-width: 768px) {
    height: 50px;
  }

  &.is__agent {
    background-color: $brand-primary-color;
    .navigation__menu {
      color: $color--white;
      a,
      i {
        color: $color--white !important;
      }
      .selected {
        border-bottom: 2px solid $brand-secondary-color;
      }
    }
  }

  &__container {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.5s ease 0.1s;
    height: 100%;
    @media (min-width: 768px) {
      max-width: 750px;
    }
    @media (min-width: 992px) {
      max-width: 970px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (max-width: 768px) {
      align-items: center;
      height: inherit;
    }
  }
  &__brand {
    width: 91px;
    @media (min-width: 768px) {
      padding: $space--lg 0;
    }
    @media (max-width: 768px) {
      a {
        display: flex;
        align-items: center;
      }
    }
  }

  &__profile {
    padding: $space--xs;
    margin-left: $space--xs;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: #f95151;
    color: $color--white;
    &.is__agent {
      margin-left: auto;
    }
  }
  
  &__menu {
    width: 100%;
    margin-left: 30px;
    &--parent {
      border: 1px solid $color-outline-grey;
      border-top: 0;
      border-radius: 0 0 $space--2xs $space--2xs;
      margin-bottom: 2px !important;
    }
    &--child {
      .child__search {
        min-height: inherit;
        border-style: solid;
        border-width: 0 1px;
        border-color: $color-outline-grey;
        display: flex;
        align-items: center;
        padding: 0 $space--xs;
        margin-right: 0;
        cursor: unset;
        input {
          margin-left: $space--xs;
          border: none;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
      .child__items {
        position: absolute;
        left: 0;
        top: 36px;
        min-width: 150px;
        border: solid 0.5px $color-outline-grey;
        border-radius: $space--2xs;
        padding: $space--sm;
        background-color: $color--white;
        li {
          padding: 0 !important;
          display: block;
          width: 100%;
          &:not(:last-child) {
            margin-bottom: $space--sm !important;
          }
          a {
            text-decoration: unset;
            color: $color--black;
            &:hover {
              color: $brand-primary-color;
            }
          }
        }
      }
    }
    ul {
      list-style-type: none;
      min-height: 36px;
      margin: 0;
      padding-left: $space--lg;
      li {
        position: relative;
        cursor: pointer;
        display: inline;
        padding: 10px 0;
        margin-right: $space--lg;
        i {
          margin-right: 5px;
          font-size: $space--sm;
        }
        a.child__anchor {
          padding: 10px 0;
          color: $color--black;
          text-decoration: unset;
        }
        &:hover {
          a.child__anchor,
          i {
            color: $brand-primary-color;
          }
        }
      }
    }
    .pull-right {
      float: right;
    }
    .pull-left {
      float: left;
    }
    .selected {
      border-bottom: 2px solid $brand-primary-color;
      color: $brand-primary-color;
    }

    .selected--agent {
      border-bottom: 2px solid $brand-secondary-color;
    }
  }
  
  .profile {
    position: absolute !important;
    margin-top: -22px;
    margin-left: -12px;
  }

  .color__blue {
    color: $brand-primary-color !important;
  }

  .selected {
    border-bottom: 2px solid $brand-primary-color;
  }
}
