@import '../../styles/tokens/all';

.color__blue {
	color: $brand-primary-color;
}

.navigation__mobile {
	display: flex;
  visibility: visible;
	position: absolute;
  top: 0;
  left: 0;
	width: 80%;
  height: 100%;
	z-index: 1040;
	background: $color--white;
	padding: $space--lg 0;
	animation: slide-in 0.5s;

	&--burger {
		display: flex;
		justify-content: center;
		width: 30px;
		.lifepal__icon--burger,
		.lifepal__icon--burger--white {
			position: unset !important;
		}
	}

	&--background {
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: $modal-background-color;
		z-index: 1031;
		animation: fade-in 0.5s;
	}

	// Container for close button
	&--closeBtn {
		margin: 0 $space--lg;
		margin-top: $space--2xs;
		.lifepal__icon--close::after {
			top: 10px;
			left: -5px;
		}
	}

	
	&--menu {
		position: relative;
		margin-left: $space--xs;
		width: 100%;
		overflow-y: scroll;
		ul {
			list-style-type: none;
			padding: 0;
			li {
				@include get-typography('sm', 'regular');
				padding: $space--lg 0;
				border-bottom: 1px solid $color-outline-grey;
				a {
					color: $color--black !important;
					text-decoration: unset;
					span {
						margin-right: $space--xs;
					}
				}

				i {
					margin-right: $space--xs;
					font-size: $space--sm;
				}
			}
		}

		ul.child {
			padding-left: $space--md;
			li {
				padding: $space--md 0;
				border-bottom: unset;
			}
			li:last-child {
				padding-bottom: 0;
			}
		}

		ul.grandchild {
			padding-left: $space--lg;
			li {
				padding: $space--md 0;
				border-bottom: unset;
			}

			li:last-child {
				padding-bottom: 0;
			}
		}

		ul.other {
			padding-left: $space--sm;
		}
	}
}

@keyframes slide-in {
	0% {
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
