@import '../../../styles/tokens/all';

.mobileProfileIcon {
  position: relative;

  &__menu {
    width: 120px;
    position: absolute;
    top: 50px;
    right: $space--xs;
    padding: $space--sm;
    border: 0.5px solid #c2c2c2;
    border-radius: $space--2xs;
    background: $color--white;
    display: flex;
    flex-direction: column;

    a {
      @include get-typography("md", "regular");
      text-decoration: none;
      color: #717171;
      margin-bottom: $space--sm;
    }
  }

  &__icon, &__icon--initialName {
    position: absolute;
    right:10px;
    color: $brand-primary-color;
    display: flex;
    text-decoration: unset;
    width: 45px;
    height: 30px;
    i {
      font-size: 24px;
    }
  }

  &__icon--initialName {
    @include get-typography('xs', "regular");
    width: auto;
    height: $space--xl;
    padding: $space--xs;
    background: $brand-secondary-color;
    color: $color--white;
    border: none;
    border-radius:50%;
    display: flex;
    align-items: center;
  }

  


}
